{% extends 'base.html' %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <h2><a href="{% url 'create_receipt' %}">Create new receipt</a></h2>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        {% for list in receipts_list %}
        <tdody>
            <tr>
                <td>{{ list.vendor }}</td>
                <td>{{ list.total }}</td>
                <td>{{ list.tax }}</td>
                <td>{{ list.date|date:"m-d-Y" }}</td>
                <td>{{ list.category }}</td>
                <td>{{ list.account }}</td>
            </tr>
        </tdody>
        {% endfor %}
    </table>
</main>
{% endblock content %}