{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <p>Username<input type="text" name="username"></p>
            <p>Password<input type="text" name="password"></p>
            <button type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock content %}