<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="POST">
                {% csrf_token %}
                <p>Username<input type="text" name="username"></p>
                <p>Password<input type="text" name="password1"></p>
                <p>Password<input type="text" name="password2"></p>
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
</body>

</html>